@import url(./settings.css);
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: Neue-Montreal;
  src: url(./assets/fonts/neuemontreal.cqi9ibog.woff2) format("woff2");
}
:root {
  --primary: #111111;
  --secondary: #efefef;
  --primaryFont: LayGrotesk-M;
  --secondaryFont: LayGrotesk-SM;
  --thirdFont: Neue-Montreal;
}
* {
  user-select: none;
}
html,
body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--thirdFont);
}
h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: var(--thirdFont);
}
h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: var(--thirdFont);
}
span {
  font-family: "Inter";
  font-size: 1.4rem;
}
p {
  font-family: var(--thirdFont);
  font-size: 2rem;
}
a {
  font-family: var(--thirdFont);
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
main {
  padding: 5rem;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  z-index: 9999;
  overflow: hidden;
}
.clips {
  /* background: rgb(65, 9, 9); */
  background: white;
  color: black;
  position: relative;
  overflow: hidden;
}
.clips h2 {
  font-size: 5rem;
  font-family: var(--thirdFont);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .clips h2 {
    font-size: 3.2rem;
  }
  main {
    padding: 2rem;
  }
}
